<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030818814824-at7ld1qjf05ac689i8hvvihraio8v939.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030818814824-at7ld1qjf05ac689i8hvvihraio8v939</string>
	<key>API_KEY</key>
	<string>AIzaSyCp0m40C1c_nhI5R5qMQrRWsTV8GwqzDxs</string>
	<key>GCM_SENDER_ID</key>
	<string>1030818814824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notifioEvent</string>
	<key>PROJECT_ID</key>
	<string>notifio-event-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>notifio-event-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030818814824:ios:261e1deb7397d0168d54dd</string>
</dict>
</plist>